@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  border: 1px solid black;
}

button:hover {
  color: white;
  background-color: black;
}

button:disabled {
  color: rgb(103, 103, 103);
  background-color: rgb(64, 64, 64);
}

input {
  border: 1px solid black;
}

* {
  padding: 1px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
